.slideprc__outside {
  width: 100%;
  height: 100vh;
}

@include media6 {
  .slideprc__outside {
    width: 70%;
    height: 100vh;
    // border: 1px solid black;
    // box-shadow: 11px 11px 41px rgba(246, 246, 246, 0.6);
  }
}
