.slide_item {
  width: 100%;
}

.slide_item.reverse {
  flex-direction: row-reverse;
}
@include media6 {
  .slide_item {
    width: 50%;
    height: calc(100% - 300px);
    display: flex;
    align-self: flex-end;
  }
}
